# Python to Linux Web App on Azure
trigger:
- none

variables:
  azureServiceConnectionId: 'a69dee84-ab3a-4b65-8bf8-34e59926233f'
  webAppName: 'cn-chatbot'
  vmImageName: 'ubuntu-latest'
  environmentName: 'cn-chatbot'
  projectRoot: $(System.DefaultWorkingDirectory)
  pythonVersion: '3.11'

stages:
- stage: Build
  jobs:
  - job: BuildJob
    pool:
      vmImage: $(vmImageName)
    steps:

    - task: UsePythonVersion@0
      inputs:
        versionSpec: '$(pythonVersion)'

    # delete venv before archive so Azure builds its own
    - script: |
        rm -rf antenv .venv venv
        rm -rf ~/.cache/pip || true
      displayName: "Remove Python venv & cache"

    - task: ArchiveFiles@2
      displayName: 'Archive files'
      inputs:
        rootFolderOrFile: '$(projectRoot)'
        includeRootFolder: false
        archiveType: zip
        archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
        replaceExistingArchive: true


    - upload: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
      artifact: drop

- stage: Deploy
  dependsOn: Build
  jobs:
  - deployment: DeploymentJob
    pool:
      vmImage: $(vmImageName)
    environment: $(environmentName)
    strategy:
      runOnce:
        deploy:
          steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '$(pythonVersion)'

          - task: AzureWebApp@1
            inputs:
              azureSubscription: $(azureServiceConnectionId)
              appName: $(webAppName)
              package: $(Pipeline.Workspace)/drop/$(Build.BuildId).zip
